@import "tailwindcss";

.darkBlack {
  color: #171717;
}

.darkGrey {
  background-color: gray;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.submitButton { 
  padding: 10px 16px; 
  transition: all 0.25s ease; 
  background: #1f6feb; 
  color: #fff; 
  border: 1px solid #1f6feb; 
  border-radius: 6px; 
}

.submitButton:hover {
  background: #fff; 
  color: #1f6feb; 
  box-shadow: 0 6px 14px rgba(0,0,0,.12)
}